.batches {
    float: left;
    max-width: 40%;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid rgb(73, 199, 182);
    background: rgb(73, 199, 182);
    margin: 2.5%;
    float: left;
}

.batchName {
    font-size: 2em;
    text-align: center;
}

.batchPage .box {
    max-width: 70%;
    float: left;
    text-align: center
}

.batchInfo {
    font-size: 1.6em;
    text-align: center;
}

.box {
    width: 50%;
    text-align: center;

}

/* .batchesHolder {
    width: 70%;
    float: left;
    text-align: center;
} */

/* .box {
    width: 50%;
    text-align: center
} */

.students {
    float: left;
    min-width: 40%;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid rgb(73, 199, 182);
    background: rgb(73, 199, 182);
    margin: 2.5%;
    float: left;
} 

/*.studentName.a:link {
    font-style: black;
}
.studentName.a:visited {
    font-style: black;
}

.studentName {
    font-size: 2em;
    text-align: center;
}

.studentInfo {
    font-size: 1.6em;
    text-align: center;
} */

.batchDetailButton {
    min-height: 30px;
    border-radius: 5px 5px 5px 5px;
}

.progressionBar {
    max-width: 10%;
    min-width: 7%;
    max-height: 2em;
    min-height: 1.6em;
    border: none;
}

.percentageBar {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.percentages {
    margin-left: 20px;
}

.batchPageButtons {
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 1%;
}

.batchPage {
    height: 70px;
    border-radius: 5px 5px 5px 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center

} 