.batches {
    width: 30%;
    height: 50%;
	float: left;
	margin: 1.33%;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid blue;
}

.batchName {
    font-size: 2em;
    text-align: center;
}

.batchInfo {
    font-size: 1.6em;
    text-align: center;
}

.students {
    width: 30%;
    height: 50%;
	float: left;
	margin: 1.33%;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid blue;
}

.studentName {
    font-size: 2em;
    text-align: center;
}

.studentInfo {
    font-size: 1.6em;
    text-align: center;
}