.batches {
    width: 30%;
    height: 50%;
	float: left;
	margin: 1.33%;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid blue;
}

.batchName {
    font-size: 2em;
    text-align: center;
}

.batchInfo {
    font-size: 1.6em;
    text-align: center;
}

.students {
    width: 30%;
    height: 50%;
	float: left;
	margin: 1.33%;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid white;
}

.studentName.a:link {
    font-style: black;
}
.studentName.a:visited {
    font-style: black;
}

.studentName {
    font-size: 2em;
    text-align: center;
}

.studentInfo {
    font-size: 1.6em;
    text-align: center;
}

.deleteStudent {
    width: 30%;
    border-radius: 5px 5px 5px 5px;
    margin-left: 35%;
    margin-right: 35%;
}

.progressionBar {
    min-width: 10%;
    min-height: 2em;
    border: none;
}

.bar {
    width: 100%;
}

/* .newBatchButton {
    width: 200px;
    height: 200px;
    border-radius: 5px 5px 5px 5px;
    align-content: center;
} */